#titolSeccio
{   font-weight: bolder;
    margin-top: 10vh;
    color:rgb(252, 252, 252);
    -webkit-text-stroke: 1px #000000; /* Ancho y color del contorno - para navegadores WebKit */
    text-stroke: 1px #000000; /* Ancho y color del contorno */
}
#subtitolSeccio
{   
   font-weight: bolder;
    color:rgb(252, 252, 252);
    -webkit-text-stroke: 1px #000000; /* Ancho y color del contorno - para navegadores WebKit */
    text-stroke: 1px #000000; /* Ancho y color del contorno */
}

body
{
    background-color: rgb(54, 54, 54);
    background-image: url("img/markus-kemppainen-2.jpg");
    background-attachment: fixed;
}

video
{
    background-color: rgb(14, 27, 13);
    padding:5px;
    border-radius: 5%;
}


button {
    padding: 8px 16px; 
    margin: 4px; 
    cursor: pointer; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
}


.play {
    background-color: #28a745; 
    color: #fff; 
}

.stop {
    background-color: #dc3545; 
    color: #fff;
}

.vup {
    background-color: #007bff; 
    color: #fff; 
}

.vdown {
    background-color: #ffc107; 
    color: #000; 
}

.text-stroke {
    -webkit-text-stroke: 1px black; /* Contorno del texto para navegadores WebKit */
    text-stroke: 1px black; /* Contorno del texto para navegadores que soportan la propiedad text-stroke */
    color: white; /* Color del texto */
  }

  .text-left {
    text-align: left;
}
